<% content_for :title do %>Parlamento Infantil 2019<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background-color:#fff"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hola" data-text="Diputado infantil tu voto está contando" data-moreinfo="Urna Electrónica | IEQROO"></div>
      <i class="fa fa-comments icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="synergyH" data-view="Meter" data-title="Niños" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:#00BE3B"></div>
      <i class="fa fa-male icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/urna.gif" style="background-color:#fff"></div>
      <!--
      <div
  data-id="radar-chart"
  data-view="Chartjs"
  data-type="radar"
  data-header="Si"
  data-labels="Bullying, Igualdad, Sin Derechos, Valores, Tecnología"
  data-colornames="yellow,yellow,yellow,yellow,yellow,yellow"
  data-datasets="10,3,2,23,12,24"
  data-height="500"
  data-width="500" style="background-color:#fff"
></div>-->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="synergyM" data-view="Meter" data-title="Niñas" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:#FF5F37"></div>
      <i class="fa fa-female icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <p>Resultados de la votación</p>
      <div
        data-id="barchart"
        data-view="Chartjs"
        data-type="bar"
        data-header="Si"
        data-labels="Bullying,Igualdad,Escuela,Valores,Tecnología"
        data-colornames="lime,aqua,yellow,teal,silver"
        data-datasets="21,33,22,19,15"
        data-height="400"
        data-width="400"
      ></div>
    </li>
  </ul>
</div>
