html, body
{
    height: 100%;
}
.sv_header
{
    height: 40px;
}
.sv_body {
  font-size: 3vw;
  font-family: 'Coming Soon', sans;
}
.sv_main .sv_container .sv_body {
    padding: 0 0;
}
.sv_main .sv_container .sv_header h3 {
    font-size: 3.5vw;
    font-weight: bold;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_page_title {
  font-size: 1.8em;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {
  font-size: 1.5em;
  text-align: center;
}
.sv_q_imgsel_image {
  width: 50%;
  height: 70%;
  display: block;
  margin: auto;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_q_imgsel label>div {
  border: 4px solid lightgray;

}
.sv_main .sv_container .sv_body .sv_progress div.sv_progress_bar>span {
  display: none;
}
.sv_main input[type="button"], .sv_main button {
  line-height: 3em;
  border-radius: 15px;
}
.sv_main.sv_default_css input[type="button"], .sv_default_css button {
    color: white;
    background-color: rgb(74, 21, 88) !important;
}
.sv_start_btn{
	width: 100%;
}
.sv_main .sv_container .sv_body .sv_progress .sv_progress_bar {
    margin-top: 0;
}
.sv_main .sv_container .sv_body.sv_completed_page {
    text-align: center;
    padding: 1em 1em;
}